<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Workout</title>
    <link rel="stylesheet" href="/public/css/style_client_workout.css">
</head>
<body>
    <div class="workout-card">
        <h1 class="workout-title"><%= workout.dayOfWeek %></h1>
        <p class="workout-description"><strong>Descrição:</strong> <%= workout.description %></p>
        <% if (workout.selectedEquipment && workout.selectedEquipment.length > 0) { %>
            <p class="workout-details"><strong>Equipment to Use:</strong></p>
            <ul class="workout-equipment">
                <% workout.selectedEquipment.forEach(equipment => { %>
                    <li><%= equipment.name %></li>
                <% }); %>
            </ul>
        <% } %>
    </div>
</body>
</html>
