<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style_dashboard.css">
  <title>Dashboard</title>
</head>
<body>

    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <div class="dashboard">
        <div class="header">
            <h1>Minha Dashboard</h1>
        </div>
        <div class="content">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
