<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Aula</title>
</head>
<body>
    <h1>Edit Aulas</h1>
    <form id="editLessonForm" action="/lesson/edit/<%= lesson._id %>?_method=PUT" method="POST">
    
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= lesson.title %>" required>
        
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required><%= lesson.description %></textarea>
    
        <div class="time-hours">
            <label for="data">Date:</label>
            <input type="date" id="data" name="data" required><br>
  
            <label for="time">Time:</label>
            <input type="time" id="time" name="time" required><br>
        </div>

        <label for="personalId">Personal ID:</label>
        <input type="text" id="personalId" name="personalId" value="<%= lesson.personal._id %>" required>
        
        <button type="submit" value="Update">Update Lesson</button>
    </form>
</body>
</html>