<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/public/css/style_error.css"/>
</head>
<body>
    <main>
        <div class="card-error">
            <div class="error-content">
                <h2>Error</h2>
                <h3>
                    <%= code %>
                </h3>
                <h3>
                    <%= error %>
                </h3>
                <button id="goBack" class="botao">Voltar</button>
            </div>
        </div>
    </main>
</body>
<script>
    document.getElementById("goBack").addEventListener("click", function() {
        window.history.back();
    });
</script>
</html>