<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/css/style_login.css"/>
</head>
<body>
    <main>
        <div class="card-login">
            <div class="register">
                <h2>Login</h2>
                <form action="/login" method="POST" autocomplete="off">
                    <div class="input-box">
                        <input type="text" id="username" name="username" required>
                        <label for="username">Usuario</lasbel>
                    </div>
                    <div class="input-box">
                        <input type="password" id="password" name="password" required>
                        <label for="password">Senha</label>
                    </div>
                    <button type="submit" value="Login" class="botao">Login</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>