<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/public/css/style_error.css"/>
</head>
<body>
    <div class="pagina-do-erro">
        <img src="../public/imgs/robo.png" alt="Robô 404" class="robo">
        <div class="codigo-do-erro"><%= code %></div>
        <div class="mensagem-do-erro">OPS! "<%= error %>"</div>
        <div class="link">
          <button id="goBack" class="botao">Voltar</button>
        </div>
      </div>
</body>
<script>
    document.getElementById("goBack").addEventListener("click", function() {
        window.history.back();
    });
</script>
</html>