body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Define a família de fontes a ser usada */
    position: fixed; /* Define que o cabeçalho ficará fixo no topo da página */
    top: 0;
    left: 0;
}
  
.dashboard {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #1a1a1a;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box {
    background-color: #333;
    height: 100px;
    border-radius: 10px;
}
  