/* Reseta as margens, o preenchimento e a caixa de dimensionamento de todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estiliza o elemento body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Altura mínima de 100% da altura da janela de visualização */
    background: #060606 url("../imgs/background.jpg") no-repeat center; /* Cor de fundo e imagem de fundo */
}

/* Estiliza o elemento .card-login */
.card-error {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent; /* Fundo transparente */
    border-radius: 20px; /* Bordas arredondadas */
    border: 2px solid rgba(155, 155, 154, 0.5); /* Borda sólida cinza */
    backdrop-filter: blur(30px); /* Desfoque do plano de fundo */
    box-shadow: 0 0 30px rgba(96, 96, 96, 0.5); /* Sombra da caixa cinza */
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza o conteúdo horizontalmente e verticalmente */
}

/* Estiliza o elemento .caixa_cadrastro dentro do elemento .card-login */
.card-error .error-content {
    width: 100%;
    padding: 40px; /* Adiciona preenchimento interno */
    height: 60%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

/* Estiliza o elemento h2 dentro do elemento .caixa_cadrastro */
.error-content h2 {
    font-size: 2.5em; /* Tamanho da fonte */
    color: #F8F10D; /* Cor do texto amarelo */
    text-align: center; /* Alinha o texto ao centro */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; /* Sombra do texto preta */
}

.error-content h3{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: white;
}

/* Estiliza o elemento .botao*/
.botao{
     width :100%;
     height :45px;
     background-color:#F8F10D;/* Cor de fundo amarela*/
     border-color:black;/* Cor da borda preta*/
     font-size :1.3em;/* Tamanho da fonte*/
     color:black;/* Cor do texto preto*/
     outline:none;/* Sem contorno*/
     border-radius:6px;/* Bordas arredondadas*/
     cursor:pointer;/* Cursor do mouse em forma de ponteiro*/
     transition:.2s;/* Transição suave ao passar o mouse*/
}

/* Muda a cor de fundo e a cor do texto ao passar o mouse sobre o elemento .botao */
.botao:hover{
     background-color:black;/* Cor de fundo preta*/
     color:white;/* Cor do texto branco*/
     border-color:#F8F10D;/* Cor da borda amarela*/
}