/* Define a formatação geral do corpo da página */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Define a família de fontes a ser usada */
    min-height: 100vh; /* Define a altura mínima da área visível da página */
    background: #1a1a1a; /* Define a cor de fundo do corpo da página */
    margin: 50px; /* Define as margens externas do corpo da página */
    padding: 20px;
}

/* Define a formatação do cabeçalho (header) da página */
header {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Define a família de fontes a ser usada */
    position: fixed; /* Define que o cabeçalho ficará fixo no topo da página */
    top: 0;
    left: 0;
}
h1 {
    color: #F8F10D;
    text-align: center;
    margin-left: 50px;
}

h2 {
    color: #F8F10D;
    text-align: center;
}

form {
    width: 500px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form select,
form textarea,
form input[type="checkbox"],
form input[type="date"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

form input[type="text"]:hover,
form input[type="email"]:hover,
form input[type="number"]:hover,
form select:hover,
form textarea:hover,
form input[type="checkbox"]:hover,
form input[type="date"]:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form button {
    width: 100%;
    height: 45px;
    background-color: #F8F10D;
    border-color: black;
    font-size: 1.3em;
    color: black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

form button:hover {
    background-color: black;
    color: white;
    border-color: #F8F10D;
}

.card-container {
    display: flex;
    margin-left: 55px;
    justify-content: space-between;
}

.child {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    background-color: #0F0F0F;
    color: black;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-list {
    max-height: 650px;
    overflow-y: auto;
}

.client-list::-webkit-scrollbar {
    width: 10px;
}

.client-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.client-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.client-card {
    background-color: #0F0F0F;
    color:#F8F10D;
    border: solid 1px #F8F10D;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

