/* Define a formatação geral do corpo da página */
body {
    font-family: Arial, sans-serif; /* Define a família de fontes a ser usada */
    min-height: 100vh; /* Define a altura mínima da área visível da página */
    background: #1a1a1a; /* Define a cor de fundo do corpo da página */
    margin: 50px; /* Define as margens externas do corpo da página */
    padding-left: 70px;
  }
  
  /* Define a formatação do cabeçalho (header) da página */
  header {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Define a família de fontes a ser usada */
    position: fixed; /* Define que o cabeçalho ficará fixo no topo da página */
    top: 0;
    left: 0;
  }
  
  /* Define a formatação dos elementos de nível H2 */
  h1 {
    color: #F8F10D; /* Define a cor do texto dos elementos H2 */
    text-align: center;
  }

  
  form {
    width: 500px; /* Define a largura do formulário */
    border: 1px solid #ccc; /* Define uma borda de 1px sólida de cor cinza (#ccc) */
    padding: 20px; /* Define o espaçamento interno do formulário */
    background-color: #fff; /* Define a cor de fundo do formulário */
    border-radius: 5px; /* Define o raio do arredondamento das bordas do formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Define uma sombra em torno do formulário */
  }
  
  /* Define a formatação das etiquetas (labels) dentro do formulário */
  form label {
    display: block; /* Define que as etiquetas serão exibidas em bloco (cada uma em uma linha) */
    margin-bottom: 10px; /* Define o espaçamento inferior das etiquetas */
    font-weight: bold; /* Define o peso da fonte das etiquetas como negrito */
  }
  
  /* Define a formatação dos campos de entrada de texto (input[type="text"]) e áreas de texto (textarea) no formulário */
  form input[type="text"],
  form textarea {
    width: 95%; /* Define que os campos ocuparão 100% da largura disponível */
    padding: 10px; /* Define o espaçamento interno dos campos */
    margin-bottom: 20px; /* Define o espaçamento inferior dos campos */
    border: 1px solid #ccc; /* Define uma borda de 1px sólida de cor cinza (#ccc) */
    border-radius: 5px; /* Define o raio do arredondamento das bordas dos campos */
    resize: none;
  }
  
  
  /* Define a formatação do botão dentro do formulário */
  form button {
    width :100%;
    height :45px;
    background-color:#F8F10D;/* Cor de fundo amarela*/
    border-color:black;/* Cor da borda preta*/
    font-size :1.3em;/* Tamanho da fonte*/
    color:black;/* Cor do texto preto*/
    outline:none;/* Sem contorno*/
    border-radius:6px;/* Bordas arredondadas*/
    cursor:pointer;/* Cursor do mouse em forma de ponteiro*/
    transition:.2s;/* Transição suave ao passar o mouse*/
  }
  
  /* Define a formatação do botão quando o cursor do mouse estiver sobre ele */
  form button:hover {
    background-color:black;/* Cor de fundo preta*/
    color:white;/* Cor do texto branco*/
    border-color:#F8F10D;/* Cor da borda amarela*/
  }
  

    
  .form-group {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  
    /* Estilize a div child */
    .child {
      flex: 1; /* Faz com que cada div child ocupe uma quantidade igual de espaço */
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 10px;
      background-color: #0F0F0F;
    }
  
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
    }